* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('svg/Cursor.svg'), auto; /* Aplica o cursor personalizado a todos os elementos */

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    cursor: url('svg/Cursor.svg'), auto; /* Aplica o cursor personalizado a todos os elementos */

}

a:hover {
    text-decoration: underline;
}
